# ML Zoomcamp 2025 - Homework 1
## Module 1: Introduction

This notebook contains solutions to the homework questions for Module 1 of the Machine Learning Zoomcamp 2025.

### Setup
Import required libraries and load the dataset

In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q1. Pandas version
What version of Pandas did you install?

In [45]:
print(f"Pandas version: {pd.__version__}")

Pandas version: 2.3.2

### Q2. Records count
How many records are in the dataset?

In [46]:
num_records = len(df)
print(f"Number of records: {num_records}")

Number of records: 9704

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [47]:
print(df.columns)
df.info()

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [48]:
print(f"\nUnique Fuel types: {len(df.fuel_type.unique())}")

Unique Fuel types: 2

### Q4. Missing values
How many columns in the dataset have missing values?

In [49]:
# Check for missing values
missing_values = df.isnull().sum()
print(f'Number of columns with missing values: {len(missing_values[missing_values > 0])}')

Number of columns with missing values: 4

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [50]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

23.759122836520497

### Q6. Median value of horsepower
1. Find the median value of the horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

In [51]:
print(f"Median horsepower: {df.horsepower.median()}")

most_frequent_horsepower = df.horsepower.mode()
print(f"Most frequent value: {most_frequent_horsepower[0]}")
new_median = df['horsepower'].fillna(most_frequent_horsepower[0], inplace=False).median()
print(f"New median value: {new_median}")
print(f"Difference between new and old median: {new_median - df.horsepower.median()}")

Median horsepower: 149.0
Most frequent value: 152.0
New median value: 152.0
Difference between new and old median: 3.0

### Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [52]:
X = df[df.origin == 'Asia'][['vehicle_weight', 'model_year']].head(7).to_numpy()
print(X)
XTX = X.T.dot(X)
print(f"XTX: {XTX}")
XTX_inv = np.linalg.inv(XTX)
print(f"Inverse of XTX: {XTX_inv}")
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
print(f"w: {w}")
print(f"Sum of all elements: {w.sum()}")

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
XTX: [[62248334.33150762 41431216.50732678]
 [41431216.50732678 28373339.        ]]
Inverse of XTX: [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]
w: [0.01386421 0.5049067 ]
Sum of all elements: 0.5187709081074007